<div>
  <nav *ngIf="currentUser">
    <ul class="navbar">
      <li><a routerLink="/mybook" routerLinkActive="active">My Books</a></li>
      <li><a routerLink="/hdbook" routerLinkActive="active">Book Stores</a></li>
    </ul>
  </nav>

  <div>
      <div>
          <ul>
              <li *ngFor="let user of users">{{user.firstName}} {{user.lastName}}</li>
          </ul>
      </div>
      <h1>Hi {{currentUser && currentUser.firstName}}!</h1>
      <p *ngIf="currentUser">
        <button (click)="userLogout()">Logout</button>
      </p>
  </div>

  <section class="container">
    <!-- routing here -->
    <router-outlet></router-outlet>
  </section>
</div>
